/* ==================== */
/* CUSTOM PROPERTIES    */
/* ==================== */
:root {
  /* === spacing === */
  --sp-1: 4px;
  --sp-2: 8px;
  --sp-4: 16px;
  --sp-8: calc(var(--sp-4) * 2);

  /* === border-radius === */
  --border-radius-sm: 4px;
  --border-radius-base: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;

  /* === font-size === */
  --fs-base: 1rem;
  --fs-400: 1rem;
  --fs-300: calc(0.825 * var(--fs-base));
  --fs-200: calc(0.750 * var(--fs-base));

  /* === colors === */
  --color-primary-500: rgb(171, 98, 232);

  --color-neutral-900: rgb(0, 0, 0);
  --color-neutral-800: rgba(0, 0, 0, 0.8);
  --color-neutral-700: rgba(0, 0, 0, 0.7);
  --color-neutral-600: rgba(0, 0, 0, 0.6);

  --color-danger: rgba(176, 14, 14, 0.99);

  --text-neutral-900: rgb(0, 0, 0);
  --text-neutral-800: rgba(0, 0, 0, 0.8);
  --text-neutral-700: rgba(0, 0, 0, 0.7);
  --text-neutral-600: rgba(0, 0, 0, 0.6);


}

/* ==================== */
/* RESET                */
/* ==================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  font-size: 100%;
}

input, select, option, textarea {
  font-family: inherit;
  font-size: 100%;
  padding-inline: 16px;
  padding-block: 8px;
}

img {
  display: block;
  width: 100%;
}

/* ==================== */
/* LAYOUT               */
/* ==================== */
.main-layout {
  min-height: 100vh;
  max-width: 960px;
  padding-inline: 16px;
  margin-inline: auto;

  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  grid-template-columns: repeat(12, 1fr);
  align-content: start;
}

.main-layout > * {
  border: 1px solid rgba(0, 0, 0, 0.137);
}

.main-layout__header {
  grid-column: 1 / -1;
}

.main-layout__leftbar {
  grid-column: 1 / -1;
  display: none;
}

.main-layout__main {
  grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {
  .main-layout__leftbar {
    grid-column: 1 / 4;
    display: block;
  }

  .main-layout__main {
    grid-column: 4 / -1;
  }
}


/* ==================== */
/* COMPONENTS           */
/* ==================== */

/* header */
.main-header {
  padding: 16px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Leftbar Hidden Component */
/* Note: dont forget to include the JS */
.leftbar-toggle {
  display: block;
}

@media screen and (min-width: 768px) {
  .leftbar-toggle {
    display: none;
  }
}

.leftbar-box-overlay {
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.223);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.leftbar-box-overlay:not(.hidden) {
  display: block;
}

.leftbar-box {
  position: fixed;
  width: min(300px, 80vw);
  min-height: 100vh;
}

.leftbar-box:not(.hidden) {
  display: block;
}

/* END Leftbar Hidden Component */

/* === Card Component === */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;

}

.card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card__primary-action {
  cursor: pointer;
}

.card__media {
  background-color: green;
}

.card__content {
  padding-block: 16px;
  padding-inline: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__actions {
  display: flex;
  gap: 8px;
}

/* === TabList Component === */
.tablist {
  display: flex;
  flex-direction: column;
}
.tablist > * {
  border: 1px solid rgba(0, 0, 0, 0.297);
}

.tablist a {
  text-decoration: none;
  color: inherit;
}

.tablist__item {
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* === button Component === */
.btn {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-align: center;
}

.btn--sm {
  padding: 4px 8px;
  font-size: 0.825rem;
}

.btn--primary {
  background-color: var(--color-primary-500);
}

/* === form Component === */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input {
  outline-color: rgb(0, 166, 255);
  border-width: 1px;
  border-color: var(--color-neutral-600);
  border-radius: var(--border-radius-base);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-label {
  font-size: var(--fs-200);
  color: var(--text-neutral-600);
}

ul.form-error {
  list-style: none;
}

.form-error {
  font-size: var(--fs-200);
  color: var(--color-danger);
}

/* === pill Component === */
.pill-container {
  display: flex;
  gap: 8px;
}

.pill {
  padding: 2px 6px;
  border-radius: 16px;
  border: 1px solid black;
  cursor: pointer;
}

/* custom components */
.product-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card__media {
  width: clamp(300px, 100%, 500px);
}

.product-detail > .card__content {
  flex: 1;
}


/* ==================== */
/* UTILITES             */
/* ==================== */

.main-container {
  padding-inline: max(16px, (100vw - 1200px)/2);
}

/* === appearance === */
.hidden {
  display: none !important;
}

/* === Spacing === */
.mr-auto {
  margin-right: auto;
}

.mb-8 {
  margin-bottom: var(--sp-8);
}

.mt-4 {
  margin-top: var(--sp-4);
}

.mt-8 {
  margin-top: var(--sp-8);
}

.gap-4 {
  gap: var(--sp-4);
}

.width-lg {
  max-width: 600px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* === layouting === */
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

/* === Background Colors === */
.bg-primary {
  background-color: var(--color-primary-500);
}

.bg-red {
  background-color: rgb(236, 71, 71);
}

.bg-blue {
  background-color: rgb(18, 154, 245);
}

/* === Text Colors === */
.text-red {
  color: rgb(240, 61, 61);
}

.text-center {
  text-align: center;
}

.fs-300 {
  font-size: 0.825rem;
}
